<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Basic Vue Js - HelloWorld App</title>

  <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
  <!-- Using via Google Web Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- https://tailwindcss.com/docs/installation -->
  <!-- Using Tailwind via CDN -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

  <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@next"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css' rel="stylesheet"/>
  <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel="stylesheet"/>

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app" class="p-8">
    <div class="container height-100 d-flex justify-content-center align-items-center ">
      <div class="card text-center transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 hover:shadow-xl">
          <div class="py-4 p-2">
               <img v-bind:src ="image" class="rounded" width="100" >
              <div class="mt-3 d-flex flex-row justify-content-center">
                  <h5>{{ name }}</h5> <span class="dots"><i class="fa fa-check"></i></span>
              </div> <span>Member since {{ dateMember }}</span>
              <div class="mt-3" > 
                <button class="bg-transparent btn btn-danger" v-if="alreadyFollow"><div class="text-red-600 hover:opacity-60">Unfollow</div></button>
                <button class="btn btn-danger" v-else>Follow</button>
                <button class="btn btn-outline-secondary"><i class="fa fa-users"></i> {{ follow }} </button> 
            </div>
          </div>
          <div>
              <ul class="list-unstyled list">
                  <li> <span class="font-weight-bold">Post</span>
                      <div> <span class="mr-1">{{ post }}</span> <i class="fa fa-angle-right"></i> </div>
                  </li>
                  <li> <span class="font-weight-bold">Comments</span>
                      <div> <span class="mr-1">{{ comment }}</span> <i class="fa fa-angle-right"></i> </div>
                  </li>
                  <li> <span class="font-weight-bold">Favorites</span>
                      <div> <span class="mr-1">{{ favorite }}</span> <i class="fa fa-angle-right"></i> </div>
                  </li>
              </ul>
          </div>
      </div>

      <!-- registration section  -->
      <form @submit.prevent ="checkForm" class="form-horizontal bg-white p-12" action='' method="POST">
        <fieldset>
          <div id="legend">
            <legend class="">Register</legend>
          </div>
          <p class="text-red-500" v-if="errors">
            <b>Please correct the following error(s):</b>
            <ul>
              <li class="text-red-500" v-for="error in errors">{{ error }}</li>
            </ul>
          </p>
          <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="username">Username</label>
            <div class="controls">
              <input v-model="username" type="text" id="username" name="username" placeholder="" class="input-xlarge">
              <p class="help-block">Username can contain any letters or numbers, without spaces</p>
            </div>
          </div>
       
          <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
              <input v-model="email" type="text" id="email" name="email" placeholder="" class="input-xlarge">
              <p class="help-block">Please provide your E-mail</p>
            </div>
          </div>
       
          <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input v-model="password" type="password" id="password" name="password" placeholder="" class="input-xlarge">
              <p class="help-block">Password should be at least 4 characters</p>
            </div>
          </div>
       
          <div class="control-group">
            <!-- Password -->
            <label class="control-label"  for="password_confirm">Password (Confirm)</label>
            <div class="controls">
              <input v-model="confirmPassword" type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
              <p class="help-block">Please confirm password</p>
            </div>
          </div>
       
          <div class="control-group">
            <!-- Button -->
            <div class="controls">
              <button class="btn btn-success">Register</button>
            </div>
          </div>
        </fieldset>
      </form>
  </div>

  <!-- my main.js -->
  <script src="./profile.js"></script>
</body>

</html>